###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> composer ###
/vendor/
/composer.lock
###< composer ###

###> IDE ###
/.idea/
/.vscode/
*.swp
*.swo
*~
###< IDE ###

###> OS ###
.DS_Store
Thumbs.db
###< OS ###

